services:
  mq:
    ports:
      - '${MQ_PORT_HOST}:${MQ_PORT_CONTAINER}'
      - '${MQ_MANAGEMENT_PORT_HOST}:15672'

  db:
    volumes:
      - './volumes/db:/var/lib/postgresql/data'
    ports:
      - '${DB_PORT_HOST}:${DB_PORT_CONTAINER}'

  server:
    environment:
      NODE_ENV: development
