DB_PASS='database_password'
DB_USER='postgres'
DB_NAME='development'

DB_PORT_HOST='5432'
DB_PORT_CONTAINER='5432'

SERVER_PORT_HOST='3001'
SERVER_PORT_CONTAINER='3001'

CLIENT_PORT_HOST='3000'
CLIENT_PORT_CONTAINER='3000'
